<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<div style="display:none" id="logInDialog" 
     data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'show', cancelBehavior: 'none', dragAffordance: 'none', resizeBehavior: 'none', title: serverOnline()? 'Dalmuti':'Dalmuti (Server Offline)',
             rootAttributes: { style: 'width: 40%;'}}">
    <div class="oj-dialog-body">
        <input id="userName" 
               type="text"
               data-bind="ojComponent: {component: 'ojInputText', placeholder: 'User Name', required: true, 
                                  value: username,rootAttributes: {style:'max-width:15em'}}"/>

        <select id="roomSelect" data-bind="ojComponent: {component: 'ojSelect',
                                                    value: room,
                                                    required: true,
                                                    placeholder: 'Chose a Room',
                                                    rootAttributes: {style:'max-width:15em'}}">
            <!-- ko foreach: roomList -->
            <option data-bind="value:gameID, text:gameOwner.playerName?gameOwner.playerName+'\'s Room (' +players.length+'/'+roomSize+')'  : ''"></option>
            <!-- /ko -->
        </select>
        <input id="roomSize"
               data-bind="ojComponent: {
        component: 'ojInputNumber', 
        max:8,
        min:4, 
        step:1, 
        placeholder: 'Room Size',
        value:roomSize,
        rootAttributes: {style:'max-width:10em'}}"/>        
    </div>
    <div class="oj-dialog-footer oj-dialog-footer-separator oj-helper-clearfix">
        <button id="joinButton" data-bind="ojComponent: {component: 'ojButton', label: 'Join', disabled: true}, click: joinClick"> </button>
        <button id="createRoomButton" data-bind="ojComponent: {component: 'ojButton', label: 'Create Room', disabled: true}, click: createClick"> </button>
    </div>
</div>

<div style="display:none" id="errorDialog" 
     data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide', cancelBehavior: 'icon', dragAffordance: 'none', resizeBehavior: 'none', title: errorDialogTittle,
             rootAttributes: { style: 'width: 35%;'}}">
    <div class="oj-dialog-body">
        <span data-bind="text: errorDialogMessage"></span>
    </div>
    <div class="oj-dialog-footer ">
        <button id="okDialohButton" data-bind="ojComponent: {component: 'ojButton', label: 'Ok', disabled: false}, click: okDialogClick"> </button>
    </div>
</div>

<div class="oj-flex">
    <div class="oj-panel oj-flex-item" style="width: 100%">Dalmuti Online</div>
    <div class="oj-panel oj-flex-item" style="width: 80%">
        <h2>Your Hand</h2>
    </div>
    <div class="oj-panel oj-flex-item" style="width: 20%">
        <div class="oj-flex">
            <div class="oj-panel oj-flex-item" style="width: 100%">
                <h4>Current Play</h4>
            </div>
            <div class="oj-panel oj-flex-item" style="width: 100%">
                <h4>Players</h4>
            </div>
        </div>
    </div>

</div>
